* {
	margin: 0;
	padding: 0;
}

html, 
body, 
#container {
    background: #fff;
    color: #000;
    font-family: helvetica, sans-serif;
    height: 100%;
}

body > #container { 
    height: auto; 
    min-height: 100%;
    padding-bottom: 5em;
}

#header {
    background-color: #C7EAFF;
    width: 100%;
    height: 8em;
    text-align: center;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEF5FC), to(#C7EAFF), color-stop(.6,#d1f0ff));
    background: -moz-linear-gradient(19% 75% 90deg,#d1f0ff, #eef5fc, #c7eaff 100%);
    border-bottom: 4px solid #86B2CC;
}

.siteTitle {
    line-height: 2.5em;
    font-size: 3em;
    font-weight: bold;
}

.siteSubtitle {
    font-style: italic;
    display: block;
    margin: 2em auto;
}

#content {
    background-color: #FFCAE9;
    border: 4px solid #E48CBF;
    margin: 2em auto;
    width: 20em;
    padding: 2em 2em 4em 2em;
}

#footer {
    clear: both;
    position: relative;
    width: 100%;
    height: 4em;
    text-align: center;
    background-color: #D2F7D3;
    border-top: 4px solid #85AB87;
    padding: 0;
    padding-top: 1em;
    margin: 0;
    margin-top: -4em;
}
