html, body, #container { 
    height: 100%; 
    padding: 0;
    margin: 0;
    color: #000;
    font-family: helvetica, sans-serif;
    background-color: #D2F7D3;
}

body > #container { 
    height: auto; 
    min-height: 100%; 
}

#container {
    background-color: #fff;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C7EAFF), to(#FFFFFF));
    background: -moz-linear-gradient(0% 100% 90deg, #C7EAFF, #FFFFFF);
}

#header {
    background-color: #C7EAFF;
    width: 100%;
    height: 8em;
    text-align: center;
    border-bottom: 4px solid #86B2CC;
}

#about.public {
    margin: -5em auto 0 auto;
    width: 19.5em;
    position: relative;
    z-index: 100;
    padding: 10em;
}

#about .private {
    width: 14em;
    padding: 1em 2em 2em;
}

.public {
    position: relative;
    border: 2px solid red;
    background-color: #C7EAFF;
    border: 4px solid #86B2CC;
    -webkit-border-radius: 20em;
    -moz-border-radius: 20em;
    border-radius: 20em;
}

.private {
    background-color: #FFCAE9;
    border: 4px solid #E48CBF;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    -webkit-border-radius: 20em;
    -moz-border-radius: 20em;
    border-radius: 20em;
}

#footer {
    color: #000;
    clear: both;
    position: relative;
    width: 100%;
    height: 4em;
    min-height: 5em;
    text-align: center;
    background-color: #D2F7D3;
    border-top: 0.1em solid #85AB87;
    padding-top: 1em;
    margin-top: -5.1em;
    z-index: 100;
}

#footer * {
    margin: 0;
    padding: 0;
}

.siteTitle {
    position: relative;
    top: -2.7em;
    left: -0.5em;
    line-height: 3em;
    font-size: 3em;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 2px 2px 2px;
}

.siteSubtitle {
    position: relative;
    top: -3.5em;
    font-size: 1.3em;
    display: block;
    margin: 0 auto;
}

.login {
    position: relative;
    top: -2.7em;
}

a,
a:active, 
a:visited {
    color: #000;
    text-decoration: none;
}

.login a,
.login a:active, 
.login a:visited,
a:hover {
    color: #008;
    text-decoration: underline;
    font-weight: bold;
}

/*
 *  bubbles
 */
.bubble {
    position: absolute;
    z-index: 10;   
    padding: 3em;
}

.bubble .private {
    height: 1em;
    width: 1em;
}

.small {
    padding: 1.5em;
}

.small .private {
    height: 0.1em;
    width: 0.1em;
}

#space1.public {
    top: -5em;
    right: 4em;
}

#space1 .private {
    height: 2em;
    width: 2em;
}

#space2.public {
    top: -4em;
    left: -5em;
}

#space3.public {
    top: 8em;
    left: 2em;
}

#space4.public {
    top: 20em;
    left: 8em;
}

#space5.public {
    top: 1em;
    left: 12em;
}

#space6.public {
    top: 10em;
    right: 3em;
}

#space7.public {
    top: 20em;
    right: 5em;
}
